h1{
    text-align: center;
}

#nav{
    margin: auto;
    width: fit-content;
}

#nav a{
    margin: 5px;
}

#post_secret{
    padding: 20px;
    margin: auto;
    width: 60%;
}

#post_secret *{
    display: block;
    margin: 5px;
}

#post_secret textarea{
    resize: none;
    height: 14px;
    width: 50%;
}

.error{
    text-align: center;
    color: red;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 58%;
    margin: auto;
}

thead{
    background-color: darkgray;

}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}