label{
    width: 150px;
    display: inline-block;
    text-align: right;
    margin-right: 5px;
}

form{
    width: 936px;
    height: 275px;
    border: solid black 1px;
}

button{
    width: 936px;
    height: 27px;
    margin-top: 40px;
}

.error{
    color: red;
}

.correct{
    color: green;
}
