.quote{
	outline: black solid 1px;
	width: 50%;
	height: 160px;
}

#quote{
	display: inline-block;
	width: 50%;
}

#buttons{
	display: inline-block;
	margin: 0px 0px 0px 20%;
}

button{
	display: block;
	width: 85px;
}