<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Survey Form Assignment</title>
        <link rel="stylesheet" type="text/css" href="css/index.css">

        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div>
            <h1>Submission Form</h1>
            <form action='/result' method='POST'>
                <label>You Name:</label><input type='text' name='Name'>
                <label>Dojo Location:</label><input list="browsers" name="Location">
                 <datalist id="browsers">
                     <option value="New York">
                     <option value="Chicago">
                     <option value="Miami">
                     <option value="Austin">
                     <option value="San Francisco">
                     <option value="District of Columbia">
                 </datalist>
                 <label>Favorite Language:</label><input list="browsers2" name="Language">
                  <datalist id="browsers2">
                      <option value="Python">
                      <option value="Java">
                      <option value="JavaScript">
                      <option value="C#">
                      <option value="Angular">
                      <option value="ReactJS">
                  </datalist>
                  <label>Comment (optinoal):</label>
                <textarea name="Comment"></textarea>
                <input type='submit' value='submit'>
            </form>
        </div>
    </body>
</html>
