<div [ngClass]="{'code':true}" [ngStyle]="{'background-color':colors[randomColor()]}"></div>
<div class="code" [ngStyle]="{'background-color':colors[randomColor()]}"></div>
<div class="code" [ngStyle]="{'background-color':colors[randomColor()]}"></div>
<div class="code" [ngStyle]="{'background-color':colors[randomColor()]}"></div>
<div class="code" [ngStyle]="{'background-color':colors[randomColor()]}"></div>
<div class="code" [ngStyle]="{'background-color':colors[randomColor()]}"></div>
<div class="code" [ngStyle]="{'background-color':colors[randomColor()]}"></div>
<div class="code" [ngStyle]="{'background-color':colors[randomColor()]}"></div>
<div class="code" [ngStyle]="{'background-color':colors[randomColor()]}"></div>
<div class="code" [ngStyle]="{'background-color':colors[randomColor()]}"></div>

