div {
    margin: auto;
    width: 55%;
    border: 3px solid blue;
    border-radius: 15px;
    padding: 20px;
}

h3 {
    text-align: center;
    color: red;
}

h1{
    text-align: center;
}

form{
    width: 350px;
    margin: auto;
}

label {
    display: inline-block;
    width: 100px;
}

input[name]{
    width: 200px;
}

input[type='submit']{
    margin-left: 100px;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}