<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Secrets Page</title>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script src="/socket.io/socket.io.js"></script>
      <link rel="stylesheet" type="text/css" href="/css/secrets.css">
   </head>
   <body>
          <h1>Secrets Board</h1>
          <div id="nav"><a href="/profile">Profile</a><a href="/logout">Logout</a></div>
          <hr>
          <div id="post_secret">
              <form action="/secret/new" method="POST">
                  <fieldset>
                      <legend>Create a secret</legend>
                      <label>Secret:</label><textarea name="text"></textarea>
                      <input type="submit" value="Submit">
                  </fieldset>
              </form>
              <% if(messages.errors) { %><% for (let error of messages.errors) { %><h3 class="error"><%= error %></h3><% } %><% } %>
          </div>
          <% if(secrets.length > 0) { %>
                  <table id="secrets">
                      <thead><tr><th colspan="2">All the secrets</th></tr></thead>
                      <tbody>
                          <% for(secret of secrets) { %>
                              <tr><td><a href="/secret/<%= secret._id %>"><%= secret.text %></a></td><% if(secret.user_id == user._id) { %><td><a href="/secret/destroy/<%= secret._id %>">Delete</a></td><% } %></tr>
                          <% } %>
                      </tbody>
                  </table>
          <% } %>
   </body>
</html>